@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Azure web app sample</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://media.tenor.com/images/a4d885a2d5604424527208e2c15b4357/tenor.gif" alt="Italian Trulli">
</div>
